<div class="container">
  <div class="topicHeader">
    <span class="topicHeaderHead"><h2><%= link_to topic.theme, topic_path(topic.id) %></h2></span>
    <span class="topicHeaderCount"><%= pluralize(topic.posts.where(accepted:true).count, "post") %></span>
  </div>
  <% if !topic.description.blank? %>
    <div class="topicDescription "><%= topic.description %></div>
  <% end %>
  <% if current_user.admin? %>
    <div class="topicAdminLinks">
      <%= link_to "Edit", edit_topic_path(topic.id), class: "btn btn-primary btn-sm" %>
      <%= link_to "Delete", topic_path(topic.id), method: :delete, data: {
          confirm: "The topic " + topic.theme + " will be removed. \n Are you sure?"}, class: "btn btn-danger btn-sm" %>
    </div>
  <% end %>
</div>