<div>
  <h2><%= @topic.theme %></h2>
  <div><%= @topic.description %></div>
</div>
<div>
  <h3>Posts</h3>
  <% if @posts.any? %>
    <%= will_paginate @posts %>
    <%= render @posts %>
    <%= will_paginate @posts %>
  <% end %>
</div>