<div class="container">
  <h2><%= @topic.theme %></h2>
  <div><%= @topic.description %></div>
</div>
<div>
  <% if @posts.any? %>
    <h3>Posts</h3>
    <%= will_paginate @posts %>
    <%= render @posts %>
    <%= will_paginate @posts %>
  <% end %>
</div>