<% provide(:title, @user.name) %>
<div class="userInfo">
  <span class="userName">
    <%= @user.name %>
  </span>
  <span class="userStatus">
  <% if @user.admin? %>
    Administrator
  <% elsif @user.moder? %>
    Moderator
  <% else %>
    User
  <% end %>
</span>
  <% if current_user.admin? && current_user != @user %>
    <span class="userEmail">
      <%= @user.email %>
    </span>
    <%= render 'admin_user_form' %>
  <% end %>
</div>
<% if @user.posts.any? %>
  <span class="userPostsHeader">
     Posts (<%= @user.posts.count %>)
  </span>
  <%= render @posts %>
  <%= will_paginate @posts %>
<% end %>

