<div>
  <h1><%= link_to @topic.theme, @topic %></h1>
  <h2><%= @post.title %></h2>
  <div><%= @post.content %></div>
  <%= link_to "Edit", edit_post_path %>
  <%= link_to "Delete", post_path, method: :delete, data: {confirm: "Are you sure?"} %>
  <%= render 'comment_form' %>
  <%= render 'comments_feed' %>

</div>